.plp-packs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2%;
}

.plp-packs .plp-pack {
    background: white;
    margin: 5% 10%;
    max-width: 300px;
    padding: 0;
}

.plp-packs .plp-pack .plp-pack-image {
    margin: 0;
    padding: 0;
}

.plp-packs .plp-pack .plp-pack-image img {
    max-width: 100%;
    height: auto;
}

.plp-packs .plp-pack .plp-pack-title {
    margin: 0;
    padding: 0.5em 0.5em 0 0.6em;
    font-size: 20px;
    font-weight: bold;
}

.plp-packs .plp-pack .plp-pack-list {
    margin: 0;
    padding: 0.5em 0.5em 0.5em 1em;
}

.plp-packs .plp-pack .plp-pack-list ul {
    list-style-type: disc;
    margin-left: 5%;
}

.plp-packs .plp-pack .plp-pack-list .plp-checkmark {
    color: green;
}

.plp-packs .plp-pack .plp-pack-list .plp-plugin-icon-disabled {
    color: red;
}

.plp-circle::before {
    content: url("../images/circle.svg");
}

.plp-download::before {
    content: url("../images/download.svg");
}

.plp-circle-check::before {
    content: url("../images/circle-check.svg");
}

.plp-rotate::before {
    content: url("../images/rotate.gif");
}

.plp-rotate-button::before {
    content: url("../images/rotate-button.gif");
}

.plp-circle-xmark::before {
    content: url("../images/circle-xmark.svg");
}

.plp-packs .plp-pack .plp-pack-buttons {
    padding: 0.5em 0.5em 0.5em 0.7em;
}

.plp-packs .plp-pack .plp-pack-buttons button {
    background-color: #0E8BCA;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin: 4px 5px;
    cursor: pointer;
    border-radius: 12px;
}

.plp-packs .plp-pack .plp-pack-buttons button:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
}

.plp-packs .plp-pack .plp-pack-buttons .plp-install-pack-button-disabled {
    background-color: black;
}

.plp-error-message {
    color: red;
    text-align: center;
    font-weight: bold;
}